.btn-group{
    
    float: center;
}
.task{
    background-color: rgb(0, 162, 255);
    height: 300px;
}
.div{
    text-transform:uppercase;
    height: 40px;
    background-color: black;
}
.navy{
    background-color: rgb(16, 17, 19);
}