body{
    background-color: rgba(141, 146, 146, 0.897);
}
.btn-group{
    
    float: center;
}
.task{
    background-color: rgb(9, 148, 241);
    height: 300px;
}
.cl{
    text-transform: capitalize;
}
.wee{
text position: 10;
}
.col{
    color: aliceblue;
}