body{
background-color: rgb(204, 0, 0);
}
#AJS1{
    background-image:url(m.jpg)
  }
  #AJS2{
    background-image:url(r.jpg)
  }
  #AJS3{
    background-image:url(ye.jpg)
  }
  #Ajs4{
    padding-left: 0%;
  }
  .aaa{
    margin: 25px 50px 75px 100px;
  }
.coo{
    list-style-type:square;
    font-size: 19px;
    color: aliceblue;
}