
span{
    color: rgb(250, 249, 249);
}

body {
    background-image: url("https://images.pexels.com/photos/370717/pexels-photo-370717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }

.wiki{
    background-color: aqua;
}

.pedia{
    background-color: beige;
}
.border{

border-style: solid;
    color:rgb(0, 0, 0);
    background-color: aliceblue;
}

h1{
    color:rgb(255, 0, 0);
}
.dot{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    border-style:solid;
  border-color: rgb(255, 0, 0);
  background-color: azure;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(218, 18, 18);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #000000;
  }
  
  .insert{

color: rgb(1, 8, 14);
    border-left: 15px solid rgb(9, 158, 245);
    background-color: lightgrey;
    border-width: 7px;
  }

.round{
  color: aliceblue;
border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;
  padding: 5px;
}
.spann{
  color: red;
}

.tamil{
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
  overflow:scroll;
}
